html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
	background-image: url('/img/1645052341_19-fikiwiki-com-p-kartinki-na-zadnii-fon-22.jpg');
	background-size: cover;
}
